/* page.module.css */

.container {
  display: flex;
  height: 100vh;
  flex-direction: row-reverse;
}

.header {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-bottom: 10%;
}

.header h1{
  background: linear-gradient(to right, #d9eaf6, #612ad8);
  background-clip: text;
  color: transparent;
  font-size: 8.5em;
}

.header h2 {
  background: linear-gradient(to right, #d9eaf6, #612ad8);
  background-clip: text;
  color: transparent;
  font-size: 4em;
}

.header h3 {
  background: linear-gradient(to right, #d9eaf6, #612ad8);
  background-clip: text;
  color: transparent;
  font-size: 2em;
}

.formContainer {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.07);
  border-radius: 100px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.16);
  padding-top: 0;
  padding-bottom: 80px;
}

.titleContainer {
  top: 0;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5em;
  margin-top: 20%;
}

.title h1 {   /* naa ko gi adjust here */
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

.form {
  color: #fff;
  display: flex;
  flex-direction: column;
}

.formLabel {
  margin-bottom: 15px;
}

.formInput {
  padding: 12px;
  font-size: 1.2em;
  border: 2px solid #ddd;
  border-radius: 6px;
  width: 100%;
  transition: 0.1s ease;
  z-index: 1111;
}

.formInput:hover{
  border-color:#5e45dd;
}

.loginButton {
  background-color: #fff;
  color: #7d8be7;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s, color 0.3s;
}

.loginButton:hover {
  background-color: #7d8be7;
  color: #fff;
}

.formButton {
  display: flex;
  background-color: #fff;
  color: #7d8be7;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s, color 0.3s;
}

.formButton p {
  align-self: center;
}

.formButton:hover {
  background-color: #7d8be7;
  color: #fff;
}

.toggleText {
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  margin-top: 15px;
}

.toggleText:hover {
  text-decoration: underline;
  color: #9ab1ec;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Make sure it's above other elements */
}

.spinner {
  border: 8px solid #3498db; /* Blue color for the spinner */
  border-top: 8px solid transparent;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}