/* page.module.css */

.container {
  display: flex;
  height: 100vh;
  flex-direction: row-reverse;
}

.header {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-bottom: 10%;
}

.header h1{
  background: linear-gradient(to right, #d9eaf6, #612ad8);
  background-clip: text;
  color: transparent;
  font-size: 8.5em;
}

.header h2 {
  background: linear-gradient(to right, #d9eaf6, #612ad8);
  background-clip: text;
  color: transparent;
  font-size: 4em;
}

.header h3 {
  background: linear-gradient(to right, #d9eaf6, #612ad8);
  background-clip: text;
  color: transparent;
  font-size: 2em;
}

.formContainer {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.07);
  border-radius: 100px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.16);
  position: relative;
}

.titleContainer {
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5em;
  margin-top: 20%;
}

.title h1 {   /* naa ko gi adjust here */
  font-size: 1.5em;
}

.form {
  color: #fff;
  display: flex;
  flex-direction: column;
}

.formLabel {
  margin-bottom: 15px;
}

.formInput {
  padding: 12px;
  font-size: 1.2em;
  border: 2px solid #ddd;
  border-radius: 6px;
  width: 100%;
}

.formInput:hover{
  border-color:#5e45dd;
}

.formButton {
  background-color: #fff;
  color: #7d8be7;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s, color 0.3s;
}

.formButton:hover {
  background-color: #7d8be7;
  color: #fff;
}

.toggleText {
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  margin-top: 15px;
}

.toggleText:hover {
  text-decoration: underline;
  color: #e74c3c;
}
