.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #000; /* Updated to black */
    padding: 20px;
    color: #fff; /* Text color set to white */
  }
  
  .header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .button {
    background-color: #2196f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .userInfo {
    margin-bottom: 20px;
  }
  
  .messageInputContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .messageInput {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .sendMessageButton {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .logoutButton {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    width: 250px;
  }
  
  .messages {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .message {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
  }
  
  .sentMessage {
    align-self: flex-end;
    background-color: #2196f3;
    color: #fff;
  }
  
  .receivedMessage {
    align-self: flex-start;
    background-color: #fff;
    color: #000;
  }