.container {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 75%; 
    border: 1px solid white;
    background-color: black;
    color: #fff;
    height: 100vh;
  }

  .flexContainer{
    display: flex;
    flex-direction: column;
    height:100%;
  }
  
  .header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }  
  
  .userInfo {
    align-items: center;
    padding: 10px;
    border-bottom: 0.5mm solid white;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .messageInputContainer {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    margin-top: auto;
    padding-bottom: 10px;
    padding-left: 5px;

  }
  
  .messageInput {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .sendMessageButton {
    background-color: #612ad8;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    padding-right: 10px;
  }
  
  .logoutButton {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100px;
  }

  .backButton{
    background-color: #5e45dd ;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 150px;
    margin-left: 5px;
    margin-right: 90%;
  }
  
  .messages {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .message {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
  }
  
  .sentMessage {
    margin-top: 5px;
    margin-right: 10px;
    align-self: flex-end;
    background-color: #7d8be7;
    color: #fff;
  }
  
  .receivedMessage {
    align-self: flex-start;
    margin-left: 10px;
    background-color: #b9d1f1;
    color: #000;
    margin-top: 5px;
  }

